/* General Reset */
* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Inter', sans-serif; }

body { height: 100vh; overflow: hidden; }

.hidden { display: none !important; }

/* split screen layout */
.split-screen {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-pane {
    width: 65%;
    background-color: #e0e0e0;
    object-position: center;
    position: relative;
}

.left-pane::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; /* Anchors it to the right edge (the middle of the screen) */
    bottom: 0;
    width: 30%; /* Controls how "long" the fade is. Try 15% or 30% too! */
    background: linear-gradient(to right, transparent, white);
    pointer-events: none; /* Allows clicks to pass through (good practice) */
}

.left-pane img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%); /* Make image Black and White */
}

.right-pane {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.auth-container {
    width: 320px;
    text-align: center;
}

.logo-icon {
    font-size: 40px;
    margin-bottom: 20px;
    color: #4A5568;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #000;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #D9D9D9; 
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #bfaeae;
}

.toggle-text {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}